h1 {
    text-transform: lowercase;
    color: lemonchiffon;
    font-family: 'Pacifico', cursive;
}

h2 {
    text-align: right;
    color: lightsalmon;
}

h3 {
    font-size: 58px;
    color: limegreen
body {
    background-color: grey;
}

div {
    width: 200px;
    height: 200px;
    background-color: pink;
}