body {
    background: linen;
    font-family:'Syne Mono', monospace;
}

#homepage {
    position: relative;
    z-index: 1;
}

.links {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 10px;
    
}

p {
    font-size: 20px;
}
    

.navBar {
    display: flex;
    margin: 10px;
}

#logo {
    max-width: 350px;
    height: 65px;
}

#navigation {
    margin: auto auto auto 50px;
}

#subscribe-box {
    float: right;
}

/* background when modal pops up */
.modal {
    display: none;
    z-index: 5;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    z-index: 1000;
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 75%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.heroImageContainer {
    position: relative;
    z-index: 1;
}

#heroImage {
    width: 100%;
}

.slogan {
    position: absolute;
    top: 40%;
    right: 15%;
    color: white;
    font-size: 20px;
}

#embedVid {
    margin: auto; 
    margin-bottom: 80px;
    text-align: center;
}

.feature-block {
    height: 700px;
    display: flex;
    justify-content: space-around;
}

#image-gallery {
    width: 625px;
    height: 500px;
    display: flex;
}

.column {
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    margin: 12.5px;
}

.image-window {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    position: relative;
}

#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

#feature-list {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    padding-left: 15px;
    padding-right: 10px;
    
}

ul {
    font-size: 25px;
}

#product-slider {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
}

#asap #three-day #komodo {
    width: 500px;
    height: 500px;
}
