img {
    min-width: 500px;
    height: 350px;
}

#window {
    width: 500px;
    height: 350px;
    border: solid 5px red;
    margin: 0 auto;     
    overflow: hidden;                             
}

@keyframes carousel {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-1500px);
    }
}

#imageSlider {
    display: flex;
    animation-name: carousel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.715, 0.715);

}

